Repository RSE-Sheffield/RSE-Sheffield.github.io, pull requests merged in 2021-02, with the labels that each got.

#377 GPU Course blog post
  _posts/2021-02-04-GPU-course.md
Labels: new post

#379 Newsletter for Feb 2021 + RSES info/showcase event
  _events/2021-03-10-rses-info-event.md
  _newsletters/2021-02-08-newsletter.md
Labels: Newsletter, new event

#405 New N8 CIR Bede events
  _events/workshop-2021-03-10-bede-intro-training.md
  _events/workshop-2021-03-19-bede-ai-training.md
Labels: new event
