Repository RSE-Sheffield/RSE-Sheffield.github.io, pull requests merged in 2023-02, with the labels that each got.

#649 COMCUDA Teaching Page(s)
  _data/navigation.yml
  pages/training/com4521/index.md
Labels: new page

#660 COM4521: Week 2 Content
  pages/training/com4521/index.md
  pages/training/com4521/labs/1.md
Labels: edit page, new page

#661 COM4521: Week 3 content
  pages/training/com4521/index.md
  pages/training/com4521/labs/1.md
  pages/training/com4521/labs/2.md
Labels: edit page, new page

#663 Event post for forthcoming Intro to Conda course
  _events/workshop-2023-03-03-intro-to-conda.md
  assets/images/containers.jpg
Labels: new event

#665 Com4521: Week 4 content
  pages/training/com4521/index.md
  pages/training/com4521/labs/2.md
  pages/training/com4521/labs/3.md
Labels: edit page, new page

#667 Week 5 content.
  pages/training/com4521/index.md
  pages/training/com4521/labs/4.md
Labels: edit page, new page
